<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaboy.provider.questionnaire.mapper.QuestionnaireQuestionMapper">
  <resultMap id="BaseResultMap" type="com.heaboy.service.questionnaire.entity.QuestionnaireQuestion">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="questionId" jdbcType="BIGINT" property="questionId" />
      <id column="questionTitle" jdbcType="VARCHAR" property="questionTitle" />
      <id column="questionType" jdbcType="VARCHAR" property="questionType" />
      <id column="questionaireId" jdbcType="BIGINT" property="questionaireId" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      questionId, questionTitle, questionType, questionaireId
  </sql>

    <insert id="into" parameterType="com.heaboy.service.questionnaire.entity.QuestionnaireQuestion">
    insert into t_questionnaire_question (questionId, questionTitle, questionType, questionaireId)
    values (
         #{questionId},
         #{questionTitle},
         #{questionType},
         #{questionaireId}
    )
  </insert>
    <update id="updateQuestion">
        update t_questionnaire_question set questionTitle = #{questionnaireQuestion.questionTitle}
        where questionId = #{questionnaireQuestion.questionId} and questionaireId = #{questionnaireQuestion.questionaireId}
    </update>
    <delete id="deleteQuestion">
        delete from t_questionnaire_question where questionId = #{questionId} and questionaireId = #{questionnaireId}
    </delete>
    <select id="selectQuestions" resultMap="BaseResultMap">
        select * from t_questionnaire_question where questionaireId = #{questionnaireId}
    </select>

    <!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_questionnaire_question
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  t_questionnaire_question
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heaboy.service.questionnaire.entity.QuestionnaireQuestion">
    insert into t_questionnaire_question (questionId, questionTitle, questionType, questionaireId)
    values (
         #{questionId,jdbcType=BIGINT},
         #{questionTitle,jdbcType=VARCHAR},
         #{questionType,jdbcType=VARCHAR},
        #{questionaireId,jdbcType=BIGINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.heaboy.service.questionnaire.entity.QuestionnaireQuestion">
    insert into t_questionnaire_question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        questionId,
      </if>
      <if test="questionTitle != null">
        questionTitle,
      </if>
      <if test="questionType != null">
        questionType,
      </if>
      <if test="questionaireId != null">
        questionaireId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="questionId != null">
       #{questionId,jdbcType=BIGINT},
      </if>

      <if test="questionTitle != null">
       #{questionTitle,jdbcType=VARCHAR},
      </if>

      <if test="questionType != null">
       #{questionType,jdbcType=VARCHAR},
      </if>

      <if test="questionaireId != null">
       #{questionaireId,jdbcType=BIGINT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heaboy.service.questionnaire.entity.QuestionnaireQuestion">
    update t_questionnaire_question
    <set>
       <if test="questionId != null">
         questionId = #{questionId,jdbcType=BIGINT},
      </if>
       <if test="questionTitle != null">
         questionTitle = #{questionTitle,jdbcType=VARCHAR},
      </if>
       <if test="questionType != null">
         questionType = #{questionType,jdbcType=VARCHAR},
      </if>
       <if test="questionaireId != null">
         questionaireId = #{questionaireId,jdbcType=BIGINT},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heaboy.service.questionnaire.entity.QuestionnaireQuestion">
    update t_questionnaire_question
    set
        questionId = #{questionId,jdbcType=BIGINT},
        questionTitle = #{questionTitle,jdbcType=VARCHAR},
        questionType = #{questionType,jdbcType=VARCHAR},
        questionaireId = #{questionaireId,jdbcType=BIGINT},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>