<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaboy.provider.sys.mapper.SysUserRolesMapper">
  <resultMap id="BaseResultMap" type="com.heaboy.service.sys.entity.SysUserRoles">
      <id column="sys_user_id" jdbcType="BIGINT" property="sysUserId" />
      <id column="roles_id" jdbcType="BIGINT" property="rolesId" />

  </resultMap>
  <sql id="Base_Column_List">
      sys_user_id, roles_id
  </sql>
    <delete id="deleteUserRolesByUserId" parameterType="java.lang.Long">
        delete from sys_user_roles where sys_user_id=  #{sysUserId}
    </delete>

    <!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_user_roles
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  sys_user_roles
  </delete>
  <insert id="insert" parameterType="com.heaboy.service.sys.entity.SysUserRoles">
    insert into sys_user_roles (sys_user_id, roles_id)
    values (
         #{sysUserId,jdbcType=BIGINT},
        #{rolesId,jdbcType=BIGINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.heaboy.service.sys.entity.SysUserRoles">
    insert into sys_user_roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysUserId != null">
        sys_user_id,
      </if>
      <if test="rolesId != null">
        roles_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysUserId != null">
       #{sysUserId,jdbcType=BIGINT},
      </if>

      <if test="rolesId != null">
       #{rolesId,jdbcType=BIGINT},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heaboy.service.sys.entity.SysUserRoles">
    update sys_user_roles
    <set>
       <if test="sysUserId != null">
         sys_user_id = #{sysUserId,jdbcType=BIGINT},
      </if>
       <if test="rolesId != null">
         roles_id = #{rolesId,jdbcType=BIGINT},
      </if>
    </set>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heaboy.service.sys.entity.SysUserRoles">
    update sys_user_roles
    set
        sys_user_id = #{sysUserId,jdbcType=BIGINT},
        roles_id = #{rolesId,jdbcType=BIGINT},

  </update>
-->
</mapper>