<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaboy.provider.comment.mapper.CommentMapper">
  <resultMap id="BaseResultMap" type="com.heaboy.service.comment.entity.Comment">
      <id column="id" jdbcType="BIGINT" property="id" />
      <id column="studentNo" jdbcType="VARCHAR" property="studentNo" />
      <id column="comment" jdbcType="VARCHAR" property="comment" />
      <id column="publicFlag" jdbcType="TINYINT" property="publicFlag" />
      <id column="careerFlag" jdbcType="TINYINT" property="careerFlag" />
      <id column="classCourseActualld" jdbcType="BIGINT" property="classCourseActualld" />
      <id column="topic" jdbcType="VARCHAR" property="topic" />
      <id column="create Time" jdbcType="TIMESTAMP" property="createTime" />
      <id column="deleteFlag" jdbcType="TINYINT" property="deleteFlag" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      studentNo, comment, publicFlag, careerFlag, classCourseActualld, topic, create Time, deleteFlag
  </sql>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_comment
       where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  t_comment
       where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heaboy.service.comment.entity.Comment">
    insert into t_comment (studentNo, comment, publicFlag, careerFlag, classCourseActualld, topic, create Time, deleteFlag)
    values (
         #{studentNo,jdbcType=VARCHAR},
         #{comment,jdbcType=VARCHAR},
         #{publicFlag,jdbcType=TINYBLOB},
         #{careerFlag,jdbcType=TINYBLOB},
         #{classCourseActualld,jdbcType=BIGINT},
         #{topic,jdbcType=VARCHAR},
         #{create Time,jdbcType=TIMESTAMP},
        #{deleteFlag,jdbcType=TINYBLOB}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.heaboy.service.comment.entity.Comment">
    insert into t_comment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="studentNo != null">
        studentNo,
      </if>
      <if test="comment != null">
        comment,
      </if>
      <if test="publicFlag != null">
        publicFlag,
      </if>
      <if test="careerFlag != null">
        careerFlag,
      </if>
      <if test="classCourseActualld != null">
        classCourseActualld,
      </if>
      <if test="topic != null">
        topic,
      </if>
      <if test="create Time != null">
        create Time,
      </if>
      <if test="deleteFlag != null">
        deleteFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="studentNo != null">
       #{studentNo,jdbcType=VARCHAR},
      </if>

      <if test="comment != null">
       #{comment,jdbcType=VARCHAR},
      </if>

      <if test="publicFlag != null">
       #{publicFlag,jdbcType=TINYBLOB},
      </if>

      <if test="careerFlag != null">
       #{careerFlag,jdbcType=TINYBLOB},
      </if>

      <if test="classCourseActualld != null">
       #{classCourseActualld,jdbcType=BIGINT},
      </if>

      <if test="topic != null">
       #{topic,jdbcType=VARCHAR},
      </if>

      <if test="create Time != null">
       #{create Time,jdbcType=TIMESTAMP},
      </if>

      <if test="deleteFlag != null">
       #{deleteFlag,jdbcType=TINYBLOB},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heaboy.service.comment.entity.Comment">
    update t_comment
    <set>
       <if test="studentNo != null">
         studentNo = #{studentNo,jdbcType=VARCHAR},
      </if>
       <if test="comment != null">
         comment = #{comment,jdbcType=VARCHAR},
      </if>
       <if test="publicFlag != null">
         publicFlag = #{publicFlag,jdbcType=TINYBLOB},
      </if>
       <if test="careerFlag != null">
         careerFlag = #{careerFlag,jdbcType=TINYBLOB},
      </if>
       <if test="classCourseActualld != null">
         classCourseActualld = #{classCourseActualld,jdbcType=BIGINT},
      </if>
       <if test="topic != null">
         topic = #{topic,jdbcType=VARCHAR},
      </if>
       <if test="create Time != null">
         create Time = #{create Time,jdbcType=TIMESTAMP},
      </if>
       <if test="deleteFlag != null">
         deleteFlag = #{deleteFlag,jdbcType=TINYBLOB},
      </if>
    </set>
       where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heaboy.service.comment.entity.Comment">
    update t_comment
    set
        studentNo = #{studentNo,jdbcType=VARCHAR},
        comment = #{comment,jdbcType=VARCHAR},
        publicFlag = #{publicFlag,jdbcType=TINYBLOB},
        careerFlag = #{careerFlag,jdbcType=TINYBLOB},
        classCourseActualld = #{classCourseActualld,jdbcType=BIGINT},
        topic = #{topic,jdbcType=VARCHAR},
        create Time = #{create Time,jdbcType=TIMESTAMP},
        deleteFlag = #{deleteFlag,jdbcType=TINYBLOB},

       where id = #{id,jdbcType=BIGINT}
  </update>
-->
</mapper>