<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaboy.provider.test.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="com.heaboy.service.test.entity.Test">
      <id column="id" jdbcType="INTEGER" property="id" />
      <id column="user_name" jdbcType="VARCHAR" property="userName" />
      <id column="account" jdbcType="VARCHAR" property="account" />
      <id column="pwd" jdbcType="VARCHAR" property="pwd" />
      <id column="profession_code" jdbcType="VARCHAR" property="professionCode" />
      <id column="icon" jdbcType="VARCHAR" property="icon" />
      <id column="status" jdbcType="INTEGER" property="status" />
      <id column="delete_status" jdbcType="INTEGER" property="deleteStatus" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      user_name, account, pwd, profession_code, icon, status, delete_status
  </sql>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_test
       where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  t_test
       where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.heaboy.service.test.entity.Test">
    insert into t_test (user_name, account, pwd, profession_code, icon, status, delete_status)
    values (
         #{userName,jdbcType=VARCHAR},
         #{account,jdbcType=VARCHAR},
         #{pwd,jdbcType=VARCHAR},
         #{professionCode,jdbcType=VARCHAR},
         #{icon,jdbcType=VARCHAR},
         #{status,jdbcType=INTEGER},
        #{deleteStatus,jdbcType=INTEGER}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.heaboy.service.test.entity.Test">
    insert into t_test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="professionCode != null">
        profession_code,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="userName != null">
       #{userName,jdbcType=VARCHAR},
      </if>

      <if test="account != null">
       #{account,jdbcType=VARCHAR},
      </if>

      <if test="pwd != null">
       #{pwd,jdbcType=VARCHAR},
      </if>

      <if test="professionCode != null">
       #{professionCode,jdbcType=VARCHAR},
      </if>

      <if test="icon != null">
       #{icon,jdbcType=VARCHAR},
      </if>

      <if test="status != null">
       #{status,jdbcType=INTEGER},
      </if>

      <if test="deleteStatus != null">
       #{deleteStatus,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heaboy.service.test.entity.Test">
    update t_test
    <set>
       <if test="userName != null">
         user_name = #{userName,jdbcType=VARCHAR},
      </if>
       <if test="account != null">
         account = #{account,jdbcType=VARCHAR},
      </if>
       <if test="pwd != null">
         pwd = #{pwd,jdbcType=VARCHAR},
      </if>
       <if test="professionCode != null">
         profession_code = #{professionCode,jdbcType=VARCHAR},
      </if>
       <if test="icon != null">
         icon = #{icon,jdbcType=VARCHAR},
      </if>
       <if test="status != null">
         status = #{status,jdbcType=INTEGER},
      </if>
       <if test="deleteStatus != null">
         delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
       where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heaboy.service.test.entity.Test">
    update t_test
    set
        user_name = #{userName,jdbcType=VARCHAR},
        account = #{account,jdbcType=VARCHAR},
        pwd = #{pwd,jdbcType=VARCHAR},
        profession_code = #{professionCode,jdbcType=VARCHAR},
        icon = #{icon,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},
        delete_status = #{deleteStatus,jdbcType=INTEGER},

       where id = #{id,jdbcType=INTEGER}
  </update>
-->
</mapper>