<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heaboy.provider.stage.mapper.StageMapper">
  <resultMap id="BaseResultMap" type="com.heaboy.service.stage.entity.Stage">
      <id column="id" jdbcType="INTEGER" property="id" />
      <id column="stageId" jdbcType="INTEGER" property="stageId" />
      <id column="stageName" jdbcType="VARCHAR" property="stageName" />
      <id column="status" jdbcType="INTEGER" property="status" />

  </resultMap>
  <sql id="Base_Column_List">
              id,
      stageId, stageName, status
  </sql>

<!--注意:在打开下面注释的时候，在执行添加和更新操作时，一定要添加事物，否则会造成无法添加和更新-->
<!--
 <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_stage
       where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from  t_stage
       where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.heaboy.service.stage.entity.Stage">
    insert into t_stage (stageId, stageName, status)
    values (
         #{stageId,jdbcType=INTEGER},
         #{stageName,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER}
    )
  </insert>

  <insert id="insertSelective" parameterType="com.heaboy.service.stage.entity.Stage">
    insert into t_stage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stageId != null">
        stageId,
      </if>
      <if test="stageName != null">
        stageName,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">

      <if test="stageId != null">
       #{stageId,jdbcType=INTEGER},
      </if>

      <if test="stageName != null">
       #{stageName,jdbcType=VARCHAR},
      </if>

      <if test="status != null">
       #{status,jdbcType=INTEGER},
      </if>

    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.heaboy.service.stage.entity.Stage">
    update t_stage
    <set>
       <if test="stageId != null">
         stageId = #{stageId,jdbcType=INTEGER},
      </if>
       <if test="stageName != null">
         stageName = #{stageName,jdbcType=VARCHAR},
      </if>
       <if test="status != null">
         status = #{status,jdbcType=INTEGER},
      </if>
    </set>
       where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.heaboy.service.stage.entity.Stage">
    update t_stage
    set
        stageId = #{stageId,jdbcType=INTEGER},
        stageName = #{stageName,jdbcType=VARCHAR},
        status = #{status,jdbcType=INTEGER},

       where id = #{id,jdbcType=INTEGER}
  </update>
-->
</mapper>